@import "colors";
@import "mixins";
$side-bar-width : 350px;
$mobile-side-bar-width : 280px;
$mobile-max-width : 768px;


.main-search-box {
    max-width : 600px;
}
.keystroke__value {
    display       : inline-block;
    margin        : 0 1px 2px;
    padding       : 4px;
    border        : 1px solid #E6E6E6;
    border-radius : 4px;
    background    : #FAFAFA;
}
.keystroke {
    position       : relative;
    display        : inline;
    white-space    : nowrap;
    letter-spacing : .2px;
    font-family    : inherit;
    line-height    : 1em;
    transition     : background-color .6s;
}
// .index is the home page
.index.docs-overview {
    .card {
        color         : $color-blue !important;
        alignment     : center;
        text-align    : center;
        border-width  : 6px;
        border-radius : 15px !important;
        border-color  : $color-blue-lighter;
        position      : relative;
        height        : $side-bar-width;
        @include trans(1s, all, ease-out);
        @include blue-shadow(0px, 30px, 0.65);
        > h3.title {
            @include trans(.6s);
            position       : absolute;
            text-transform : uppercase !important;
            color          : inherit !important;
            text-align     : inherit !important;
            alignment      : center;
            font-size      : 2rem;
            top            : 15%;
            width          : 100%;
            height         : 25%;
        }
        img > svg, svg {
            background-color : transparent !important;
        }
        .icon {
            opacity     : 0.75 !important;
            position    : absolute;
            top         : 30%;
            width       : 100%;
            height      : 35%;
            padding-top : 1rem;
            display     : block;
            > img, svg {
                display : block;
                margin  : auto auto;
                width   : 50% !important;
            }
            svg {
                background-color : transparent !important;
            }
        }
        .description {
            @include trans(.6s, opacity);
            position   : absolute;
            opacity    : 0;
            color      : inherit !important;
            text-align : inherit !important;
            alignment  : center;
            font-size  : 1rem;
            top        : 50%;
            bottom     : 0px;
            width      : 100%;
            height     : 35%;
            padding    : 0px 15%;
        }
        .link-mask {
            border-radius : 15px !important;
            cursor        : pointer;
            @include white-inset(0px, 0.0);
            position      : absolute;
            width         : 100%;
            height        : 100%;
            top           : 0;
            left          : 0;
        }
        &:hover {
            color        : white !important;
            background   : $color-blue-light;
            border-color : $color-blue;
            @include blue-inset(80px, 1);
            //@include blue-shadow(0px, 0px, 0);
            h3.title {
                color : white !important;
                top   : 25%;
            }
            .description {
                transition-delay : .5s !important;
                opacity          : 0.99;
            }
            .link-mask {

            }
            .icon {
                transition-delay : .5s !important;
                opacity          : 0.0 !important;
            }
        }
    }
}

/* Docs page */
header.header {
    @media print {
        display : none !important;
    }
    @include trans(1s);
    padding-top : 15px;
    height      : 100px !important;
    > div.desktop-search-results {
        > h3, h2, td, a {
            color : white;
        }
        //background-color   : white;
        overflow           : scroll;
        position           : absolute;
        display            : block;
        visibility         : collapse;
        opacity            : 0;
        top                : 80px;
        bottom             : 0px;
        left               : 0px;
        right              : 0px;
        -webkit-transition : all 1s ease-out;
        -moz-transition    : all 1s ease-out;
        -o-transition      : all 1s ease-out;
        transition         : all 1s ease-out;
        padding            : 20px 20px !important;
        //height           : 10px;
        //>*{
        //    display:none!important;
        //    color:white !important;
        //}
    }
    &.fixed-top {
        @include blue-shadow(0px, 20px, 0.25);
        &:hover {
            @include blue-shadow(0px, 50px, 0.65);
            //height : 70vh !important;
            @media (max-width : $mobile-max-width) {
                //height : 80px !important;
            }
            > div.desktop-search-results {
                //background : rgb(53, 76, 130);
                //background : linear-gradient(0deg, rgba(53, 76, 130, 1) 0%, rgba(85, 121, 210, 1) 33%, rgba(150, 161, 255, 1) 100%);
                color      : white !important;
                opacity    : 1;
                visibility : visible;
                &:before {}

            }
        }
    }
}
.navbar-brand {
    margin-left    : 20px;
    text-transform : uppercase !important;
    letter-spacing : 2px !important;
    color          : #444454 !important;
    font-weight    : 900;
    .alt-text {
        color       : rgba(140, 140, 140, 0.5) !important;
        font-weight : 400 !important;
    }
}
#hero {
    position : relative;
}
#clouds {
    position : absolute;
    top      : 0px;
    left     : 0px;
    right    : 0px;
    bottom   : 0px;
    opacity  : 0.20;
    @media (max-width : $mobile-max-width) {
        display : none;
    }
}
.site-logo > .logo-container {
    border-radius      : 300px;
    margin             : 0 0 0 0 !important;
    padding            : 0 0 0 0 !important;
    -webkit-box-shadow : none !important;
    -moz-box-shadow    : none !important;
    box-shadow         : none !important;
    background         : transparent !important;
    @include square(78px);
    display            : inline-block !important;
    svg#CaptionInspectorCircle {
        cursor: pointer;
        @include square(78px);
        margin : -15px 0 0 0;
        g.caption-inspector-logo {
            @include trans(1s, all, ease-out);
            circle.circle-background {
                @include blue-shadow(0px, 80px, 0.75);
                fill         : rgba(145, 145, 155, 0.1);
                stroke       : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.5);
                stroke-width : 4%;
                @include trans(0.7s);
            }
            path.eye-glass {
                fill    : rgba(255, 255, 255, 0.55);
                opacity : 0.20;
                @include trans(1.5s);
            }
            path.inspector-face {
                //fill         : $color-cool-grey-12;
                //fill         : rgba(red($color-blue-dark), green($color-blue-dark), blue($color-blue-dark), 0.9);
                fill         : rgba(90, 90, 105, 0.9);
                //stroke       : rgba(100, 100, 140, 0.5);
                stroke       : rgba(red($color-blue-dark), green($color-blue-dark), blue($color-blue-dark), 0.2);
                stroke-width : 0.5%;
                @include trans(0.5s);
            }
            &:hover {
                circle.circle-background {
                    @include blue-shadow(0px, 80px, 0.45);
                    fill         : #FFFFFD !important;
                    stroke       : lighten($color-xfinity-pumkin, 20%);
                    stroke-width : 5%;
                }
                path.inspector-face {
                    fill         : $color-xfinity-pumkin !important;
                    stroke       : lighten($color-xfinity-pumkin, 25%);
                    stroke-width : 0.6%;
                }
                path.eye-glass {
                    opacity : 0.85;
                    //size    : 50%;
                }
            }
        }
    }
    //@media (max-width : $mobile-max-width) {
    //    display : none !important;
    //}
}
.search-form {
    position     : relative;
    width        : 100%;
    margin-top   : -5px !important;
    margin-right : 25px;
    .search-input {
        font-size     : 0.875rem;
        @include border-radius(4px);
        padding-right : 3rem;
        padding-left  : 1.5rem;
        &:focus {
            border-color : $theme-divider;
        }
    }
    .search-btn {
        color        : lighten($theme-text-color-secondary, 15%);
        background   : none;
        border       : none;
        position     : absolute;
        right        : 0;
        top          : 0.15rem;
        margin-right : 0;
        &:active, &:focus, &:hover {
            outline : none !important;
            color   : $theme-color-primary;
            @include box-shadow(none);

        }
    }
}
.docs-branding {
    min-height : 85px;
    .top-search-box {
        width : 300px;
    }
}
.docs-logo-wrapper {
    position : absolute;
    left     : 15px;
    top      : 0.5rem;

    .site-logo {
        display : inline-block;
    }
}
.docs-top-utilities {
    padding-top : 4px;
}
.docs-sidebar-toggler {
    display   : inline-block;
    border    : none;
    padding   : 0;
    font-size : inherit;
    position  : relative;
    top       : 0.3rem;
    &:focus {
        outline : none;
    }
    &:hover {
        span {
            @include opacity(1);
        }
    }
    span {
        display          : block;
        background-color : $theme-text-color-primary;
        height           : 3px;
        width            : 24px;
        margin-top       : 5px;
        margin-bottom    : 5px;
        position         : relative;
        left             : 0;
        @include opacity(0.8);
        @include border-radius(1px);
    }
}
.docs-wrapper {
    position : relative;

}
.docs-sidebar {
    display         : none;
    width           : $side-bar-width;
    @media (max-width : $mobile-max-width) {
        width : $mobile-side-bar-width;
    }
    position        : fixed;
    z-index         : 50;
    top             : 85px;
    height          : calc(100% - 85px);
    //background      : rgba($color-blue, 0.1);
    overflow-y      : auto;
    /* Forefox scrollbar */
    scrollbar-color : rgba($color-blue, 0.1);
    scrollbar-width : thin;

    /* Chrome webkit scrollbar */

    &::-webkit-scrollbar {
        width            : 8px;
        background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.2);
        @include border-radius(60px);
    }
    @media (max-width : $mobile-max-width) {
        &::-webkit-scrollbar {
            background-color : transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color : transparent;
        }
    }
    border-right    : 2px solid rgba(255, 255, 255, 0.75) !important;
    @include transition(transform .5s ease-in-out);
    @include box-shadow(3px 0 35px 0 rgba(red($color-blue), green($color-blue), blue($color-blue), .15));
    &.sidebar-visible {
        @include transform(translateX(0));
        display : block;
    }
    &.sidebar-hidden {
        @include transform(translateX(-360px));
        display : block;
    }
}
.docs-nav {
    &.navbar {display: block!important;}
    @include trans(.4s, all, ease-out);
    overflow-y : auto;
    .section-title {
        font-size     : 1rem;
        margin-bottom : 0 !important;
        a {
            &:hover {
                text-decoration : none;
            }
        }
    }
    .section-items {
        font-size : 0.875rem;
        position  : relative;
    }
    .nav-item {
        @include trans(.4s, all, ease-out);
        margin-left : 2.5rem;
        &.section-title {
            margin-left : 2px;
            .nav-link {
                padding : 0;
                &:before {display : none;}
            }
        }
    }
    .nav-link {
        @include border-radius(60px);
        @include trans(.4s, all, ease-out);
        display  : inline-block;
        position : relative;
        padding  : 5px 10px;
        color    : $theme-text-color-secondary;
        .theme-icon-holder {
            color:$theme-color-primary;
            font-size   : 0.875rem;
            padding-top : 0.37rem;
        }
        &.active,&:hover {
            color : $theme-color-primary;
            &:before {
                color      : #FFFFFF !important;
                background-color : $theme-color-primary;
            }
            .theme-icon-holder {
                color      : #FFFFFF !important;
                background : $theme-color-primary;
            }
        }
        margin   : 1px 0;
        &:before {
            @include trans(.4s, all, ease-out);
            background-color : rgba($color-blue, 0.2);
            content          : ' ';
            display          : inline-block;
            //height           : inherit;
            left             : -30px;
            margin-top       : 0rem;
            position         : absolute;
            width            : 6px;
            height           : 100%;
            @include border-radius(60px);
        }
        &:after {
            @include trans(.4s, all, ease-out);
            background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.1);
            content          : ' ';
            display          : inline-block;
            opacity          : 0;
            height           : 30px;
            width            : 30px;
            left             : -45px;
            position         : absolute;
            @include border-radius(100px);
        }
        &:hover {
            background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.05);
            &:before {
                border : 2px solid rgba(red($color-blue), green($color-blue), blue($color-blue), 1);
                background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.5);
                width            : 15px;
                height           : 15px;
                margin-top       : 13px;
                left             : -35px;
            }
            &:after {
                background-color : rgba(red($color-blue), green($color-blue), blue($color-blue), 0.75);
                opacity          : 1;
                height           : 3px;
                margin-top       : 18px;
                width            : 5px;
                left             : -20px;
            }
            color            : $color-blue;
            .outline-indicator {
                color : $color-blue !important;
            }
        }
    }
}

.docs-content {
    margin-left    : 350px;
    margin-top    : 100px;
    padding-bottom : 200px;
}
.docs-article {
    padding : 2rem;
    color   : $theme-text-color-secondary;
    strong {
        color : $theme-text-color-primary;
    }
    .docs-heading {
        font-size     : 3rem;
        margin-bottom : 2rem;
        position      : relative;

    }

    .docs-time {
        position : absolute;
        display  : inline-block;
        right    : 0;
        bottom   : 1rem;
        color    : lighten($theme-text-color-secondary, 10%);
    }
    .docs-section {
        padding       : 2rem 0;
        border-bottom : 1px solid $theme-divider;
        p {
            &:last-child {
                margin-bottom : 0;
            }
        }

    }

    .section-heading {
        font-size     : 1.875rem;
        margin-bottom : 1rem;
        color         : $theme-text-color-primary
    }
    h2 {
        color : darken($theme-text-color-secondary, 25%);
    }
    h3 {
        //font-size : 1.5rem;
        color     : darken($theme-text-color-secondary, 20%);
    }
    h4 {
        //font-size : 1.25rem;
        color     : darken($theme-text-color-secondary, 15%);
    }
    h5 {
        //font-size : 1rem;
        color     : darken($theme-text-color-secondary, 10%);
    }
    h6 {
        //font-size : 0.875rem;
        color     : darken($theme-text-color-secondary, 5%);
    }
    ul, ol, dl {
        padding-left : 1.5rem;
    }
    li {
        padding-top    : 0.5rem;
        padding-bottom : 0.5rem;
    }
}
p.legal {
    font-size      : 16px !important;
    letter-spacing : 0.01px !important;
    line-height    : 28px !important;
    color          : $color-cool-grey-7 !important;
    text-align     : justify;
}
.docs-code-block {
    padding-top    : 1rem;
    padding-bottom : 1rem;
}


.callout-block {
    padding       : 1.5rem;
    border-left   : 3px solid $theme-text-color-secondary;
    background    : $smoky-white;
    margin-top    : 1rem;
    margin-bottom : 1rem;
    color : white;
    code {
        background : lighten($theme-info-color, 45%);
    }
    .callout-title {
        font-size : 1rem;
    }
    &.callout-block-info {
        border-color : $theme-info-color;
        background   : lighten($theme-info-color, 35%);
        .callout-title {
            color : white;
        }
        a {
            color : white;
        }
    }
    &.callout-block-info.small {
        border-color   : lighten($theme-info-color, 10%);
        background   : lighten($theme-info-color, 45%);
    }
    &.callout-block-success {
        border-color : $theme-success-color;
        background   : lighten($theme-success-color, 40%);
        .callout-title {
            color : darken($theme-success-color, 15%);
        }
        a {
            color : darken($theme-success-color, 15%);
        }
    }
    &.callout-block-warning {
        border-color : $theme-warning-color;
        background   : lighten($theme-warning-color, 35%);
        .callout-title {
            color : darken($theme-warning-color, 15%);
        }
        a {
            color : darken($theme-warning-color, 15%);
        }
    }
    &.callout-block-danger {
        border-color : $theme-danger-color;
        background   : lighten($theme-danger-color, 35%);
        .callout-title {
            color : darken($theme-danger-color, 15%);
        }
        a {
            color : darken($theme-danger-color, 15%);
        }
    }
    &.small {
        padding       : 1rem;
        margin-top    : 1rem;
        margin-bottom : 1rem;
    }
}


.cta-section {
    background : linear-gradient(0deg, #515ADA 0%, #BBC2FF 100%) !important;
    .container {
        position : relative;
        z-index  : 10;
    }
    .section-intro {
        font-size : 1.125rem;
    }
}
body.index-page {
    .page-header, .page-header.theme-bg-dark {
        background : linear-gradient(0deg, #BBC2FF 2%, #515ADA 100%);}
    .page-content { background : #BBC2FF;}
    .cta-section { background : linear-gradient(0deg, #515ADA 2%, #BBC2FF 100%) !important;}
}

// Small devices (landscape phones, 576px and up)
@media (min-width : 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width : 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width : 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width : 1200px) {

}


/* We occasionally use media queries that go in the other direction */
// Extra small devices (portrait phones, less than 576px)
@media (max-width : 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width : 767.98px) {
    .docs-article .docs-heading {
        font-size : 2.25rem;
    }
    .docs-article .section-heading {
        font-size : 1.5rem;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width : 991.98px) {


}

// Large devices (desktops, less than 1200px)
@media (max-width : 1199.98px) {
    .docs-content {
        margin-left : 0;
    }
    .docs-article .docs-time {
        position    : static;
        display     : block;
        padding-top : 0.5rem;
    }


}

/* PrismJS 1.17.1
https://prismjs.com/download.html?#themes=prism-coy&languages=markup+css+clike+javascript+ruby+markup-templating+docker+git+handlebars+http+php+scss+python+sass+yaml+haml+vim&plugins=line-highlight+line-numbers+wpd+toolbar+highlight-keywords+command-line+normalize-whitespace+show-language */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
    color           : black;
    background      : none;
    font-family     : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size       : 1em;
    text-align      : left;
    white-space     : pre;
    word-spacing    : normal;
    word-break      : normal;
    word-wrap       : normal;
    line-height     : 1.5;

    -moz-tab-size   : 4;
    -o-tab-size     : 4;
    tab-size        : 4;

    -webkit-hyphens : none;
    -moz-hyphens    : none;
    -ms-hyphens     : none;
    hyphens         : none;
}

/* Code blocks */
pre[class*="language-"] {
    position : relative;
    margin   : .5em 0;
    overflow : visible;
    padding  : 0;
}
pre[class*="language-"] > code {
    position              : relative;
    border-left           : 10px solid #358CCB;
    box-shadow            : -1px 0px 0px 0px #358CCB, 0px 0px 0px 1px #DFDFDF;
    background-color      : #FDFDFD;
    background-image      : linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
    background-size       : 3em 3em;
    background-origin     : content-box;
    background-attachment : local;
}

code[class*="language"] {
    max-height : inherit;
    height     : inherit;
    padding    : 0 1em;
    display    : block;
    overflow   : auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color   : #FDFDFD;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    margin-bottom      : 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position      : relative;
    padding       : .2em;
    border-radius : 0.3em;
    color         : #C92C2C;
    border        : 1px solid rgba(0, 0, 0, 0.1);
    display       : inline;
    white-space   : normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content           : '';
    z-index           : -2;
    display           : block;
    position          : absolute;
    bottom            : 0.75em;
    left              : 0.18em;
    width             : 40%;
    height            : 20%;
    max-height        : 13em;
    box-shadow        : 0px 13px 8px #979797;
    -webkit-transform : rotate(-2deg);
    -moz-transform    : rotate(-2deg);
    -ms-transform     : rotate(-2deg);
    -o-transform      : rotate(-2deg);
    transform         : rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
    right             : 0.75em;
    left              : auto;
    -webkit-transform : rotate(2deg);
    -moz-transform    : rotate(2deg);
    -ms-transform     : rotate(2deg);
    -o-transform      : rotate(2deg);
    transform         : rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color : #7D8B99;
}

.token.punctuation {
    color : #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color : #C92C2C;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color : #2F9C0A;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color      : #A67F59;
    background : rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color : #1990B8;
}

.token.regex,
.token.important {
    color : #EE9900;
}

.language-css .token.string,
.style .token.string {
    color      : #A67F59;
    background : rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight : normal;
}

.token.bold {
    font-weight : bold;
}
.token.italic {
    font-style : italic;
}

.token.entity {
    cursor : help;
}

.namespace {
    opacity : .7;
}

@media screen and (max-width : 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom     : 14px;
        box-shadow : none;
    }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color : #E0D7D1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
    padding-left : 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
    padding-left : 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
    left : 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top    : 0;
    padding-bottom : 0;
    padding-left   : 0;
}
pre[data-line] code {
    position     : relative;
    padding-left : 4em;
}
pre .line-highlight {
    margin-top : 0;
}

pre[data-line] {
    position : relative;
    padding  : 1em 0 1em 3em;
}

.line-highlight {
    position       : absolute;
    left           : 0;
    right          : 0;
    padding        : inherit 0;
    margin-top     : 1em; /* Same as .prism’s padding-top */

    background     : hsla(24, 20%, 50%, .08);
    background     : linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

    pointer-events : none;

    line-height    : inherit;
    white-space    : pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content          : attr(data-start);
    position         : absolute;
    top              : .4em;
    left             : .6em;
    min-width        : 1em;
    padding          : 0 .5em;
    background-color : hsla(24, 20%, 50%, .4);
    color            : hsl(24, 20%, 95%);
    font             : bold 65%/1.5 sans-serif;
    text-align       : center;
    vertical-align   : .3em;
    border-radius    : 999px;
    text-shadow      : none;
    box-shadow       : 0 1px white;
}

.line-highlight[data-end]:after {
    content : attr(data-end);
    top     : auto;
    bottom  : .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content : none;
}

pre[class*="language-"].line-numbers {
    position      : relative;
    padding-left  : 3.8em;
    counter-reset : linenumber;
}

pre[class*="language-"].line-numbers > code {
    position    : relative;
    white-space : inherit;
}

.line-numbers .line-numbers-rows {
    position            : absolute;
    pointer-events      : none;
    top                 : 0;
    font-size           : 100%;
    left                : -3.8em;
    width               : 3em; /* works for line-numbers below 1000 lines */
    letter-spacing      : -1px;
    border-right        : 1px solid #999999;

    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;

}

.line-numbers-rows > span {
    pointer-events    : none;
    display           : block;
    counter-increment : linenumber;
}

.line-numbers-rows > span:before {
    content       : counter(linenumber);
    color         : #999999;
    display       : block;
    padding-right : 0.8em;
    text-align    : right;
}

code[class*="language-"] a[href],
pre[class*="language-"] a[href] {
    cursor          : help;
    text-decoration : none;
}

code[class*="language-"] a[href]:hover,
pre[class*="language-"] a[href]:hover {
    cursor          : help;
    text-decoration : underline;
}
div.code-toolbar {
    position : relative;
}

div.code-toolbar > .toolbar {
    position   : absolute;
    top        : .3em;
    right      : .2em;
    transition : opacity 0.3s ease-in-out;
    opacity    : 0;
}

div.code-toolbar:hover > .toolbar {
    opacity : 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
    opacity : 1;
}

div.code-toolbar > .toolbar .toolbar-item {
    display : inline-block;
}

div.code-toolbar > .toolbar a {
    cursor : pointer;
}

div.code-toolbar > .toolbar button {
    background          : none;
    border              : 0;
    color               : inherit;
    font                : inherit;
    line-height         : normal;
    overflow            : visible;
    padding             : 0;
    -webkit-user-select : none; /* for button */
    -moz-user-select    : none;
    -ms-user-select     : none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
    color         : #BBBBBB;
    font-size     : .8em;
    padding       : 0 .5em;
    background    : #F5F2F0;
    background    : rgba(224, 224, 224, 0.2);
    box-shadow    : 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius : .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
    color           : inherit;
    text-decoration : none;
}

.command-line-prompt {
    border-right        : 1px solid #999999;
    display             : block;
    float               : left;
    font-size           : 100%;
    letter-spacing      : -1px;
    margin-right        : 1em;
    pointer-events      : none;

    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.command-line-prompt > span:before {
    color         : #999999;
    content       : ' ';
    display       : block;
    padding-right : 0.8em;
}

.command-line-prompt > span[data-user]:before {
    content : "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
    content : "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
    content : attr(data-prompt);
}



pre[class*=language-]:before, pre[class*=language-]:after {
    box-shadow: 0px 10px 25px $color-blue;
}
pre[class*=language-] > code {
    padding:20px 10px !important;
    @include border-radius(4px);
    *>{
        @include border-radius(4px);
    }
    border-left: 30px solid $color-blue;
    box-shadow: -1px 0px 0px 0px $color-blue, 0px 0px 0px 1px $color-blue;
    background-color: #FDFDFD;
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
}
